/* App.css */
body {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  
}
nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #ff0000;
  padding:20px;
}

nav > a {
  margin: 0 10px;
  list-style: none;
  color: white !important;
}
nav > a:hover {
  color: black !important ;
}
h1 {
  font-size: 36px;
  color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ff0000;
}

/* HeroList.css */
.hero-card {
  border: 2px solid #ff0000;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* HeroForm.css */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ff0000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ff0000;
  border-radius: 5px;
  outline: none;
}

button[type="submit"] {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff4766; /* Tomato */
}
.selected {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* AddHeroPage.css */
/* You can add more specific styles for the AddHeroPage here if needed. */

/* HeroesPage.css */
/* You can add more specific styles for the HeroesPage here if needed. */
